{% macro anchor(label, path) %}
  {% if path == page %}
    <li class="selected">
      <a href="{{ path }}" aria-current="path">{{ label }}</a>
    </li>
  {% endif %}
  {% if path != page %}
    <li>
      <a href="{{ path }}">{{ label }}</a>
    </li>
  {% endif %}
{% endmacro %}
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test app</title>
   <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css" />
  </head>
  <body hx-boost="true">
    <header>
      <nav>
        <menu>
          {{ self::anchor(label='Home', path='/') }}
          {{ self::anchor(label='受注', path='/order') }}
        </menu>
      </nav>
    </header>
    <main class="container">
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>