{% extends 'layout.html' %}
{% block content %}
<div class="columns is-mobile is-centered">
    <div class="column is-half">
<article class="panel">
    <p class="panel-heading">タスク</p>
    <div class="panel-block">
        <div class="field has-addons">
            <div class="control">
              <input class="input" type="text" placeholder="New task...">
            </div>
            <div class="control">
              <button class="button is-info">
                Register
              </button>
            </div>
        </div>
    </div>
    {% for todo in todos %}
    <div class="panel-block">
        {{ todo.content }}
        <!-- <td>{{ todo.completed_on }}</td> -->
    </div>
    {% endfor %}
</article>
</div>
</div>
{% endblock %}